[user]
        name = Aaron Fabbri
        email = 558234+ajfabbri@users.noreply.github.com
        igningkey = D20ECC62396A35406F07794DF9C86AA39D03B98A
[push]
        default = current
[alias]
        d = diff
        dc = diff --cached
        lg =  log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset)\
            - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- \
            %an%C(reset)%C(bold yellow)%d%C(reset)' --all
        s = status
        sw = switch
[pull]
        ff = only
[filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
[commit]
        gpgsign = true
